[user]
	email = roynrishingha@gmail.com
	name = roynrishingha
[core]
	editor = hx
[init]
	defaultBranch = main

[color]
    ui = true

[github]
	user = roynrishingha
[alias]
	lg = log --oneline
	last = log -1 HEAD
	f = push --force-with-lease
